@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 4s linear infinite;
}

.mask-gradient {
  -webkit-mask: linear-gradient(90deg, transparent 5%, black 20%, black 80%, transparent);
  mask: linear-gradient(90deg, transparent 5%, black 20%, black 80%, transparent);
}

