@keyframes smooth-step-slide {
  0%, 10% {
    transform: translateX(0%);
  }
  20%, 30% {
    transform: translateX(-16.66%);
  }
  40%, 50% {
    transform: translateX(-33.33%);
  }
  60%, 70% {
    transform: translateX(-50%);
  }
  80%, 90% {
    transform: translateX(-66.66%);
  }
  100% {
    transform: translateX(-83.33%);
  }
}

.animate-step-slide {
  display: flex;
  animation: smooth-step-slide 10s infinite;
  animation-timing-function: ease-in-out;
}
